@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global heights */
html,
body {
  height: 100%;
  width: 100%;
}

@layer base {
  :root {
    --background-light: theme('colors.grey.50');
    --background-dark: theme('colors.grey.950');
    --text-light: theme('colors.grey.900');
    --text-dark: theme('colors.grey.100');

    /* Default to light theme */
    --background-color: var(--background-light);
    --text-color: var(--text-light);
  }

  .dark {
    --background-color: var(--background-dark);
    --text-color: var(--text-dark);
  }

  body {
    @apply bg-background text-text;
  }
}

/* Custom utility classes */
@layer utilities {
  .bg-theme {
    background-color: var(--background-color);
  }
  .text-theme {
    color: var(--text-color);
  }
}
