@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Light text color */
  --background-color: #222222; /* Dark base background color */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}